@tailwind base;
@tailwind components;
@tailwind utilities;

.body-color {
  background-color: #FFF0CE;
}

.nav-footer {
  background-color: #0C356A;
}

.card-color {
  background-color: #0174BE;
}

.btn-color {
  background-color: #FFC436;
}

.custom-min-height {
  min-height: calc(100vh - 288px);
}

.text-color {
  color: #0C356A;
}